html {
  font-size: 16px;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

body {
  /*background: url(/bg2.svg) no-repeat;
    background-size: cover;*/
  background-color: white;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 2.5rem;
}

h2 {
  font-size: 2.25rem;
  margin-bottom: 2.25rem;
}

h3 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

h4 {
  font-size: 1.75rem;
  margin-bottom: 1.75rem;
}

h5 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

h6 {
  font-size: 1.25rem;
  margin-bottom: 1.25rem;
}

p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.bg-cover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("./assets/darkened-bg3.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#nav-logo {
  color: whitesmoke;
  font-weight: bold;
  font-size: 30px;
}

.top-nav-link {
  color: whitesmoke !important;
}

.alt-color {
  color: #f77f00;
}

.navbar-toggler-icon {
  color: whitesmoke;
}

.nav-link:hover {
  color: #f77f00 !important;
}

.main-content {
  height: 100%;
}

.land-col {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
}

.land-col h2 {
  font-size: 50px;
  color: rgb(247, 127, 0);
  padding: 15px;
}

.land-col p {
  margin: 15px;
  padding: 15px;
  width: 50%;
  text-align: center;
  line-height: 2em;
}

.land-col button {
  color: whitesmoke;
  background: transparent;
  border: 2px solid rgb(247, 127, 0);
  border-radius: 5px;
  height: 60px;
  width: 180px;
  font-weight: 500;
}

.land-col button:hover {
  background-color: rgb(247, 127, 0);
}

.about-bg {
  position: relative;
  background-image: url("./assets/aboutbg.svg");
  max-width: 1050px;
  max-height: 650px;
  top: 50;
  left: 50;
  right: 0;
}

.about-content {
  display: flex;
  flex-direction: column;
  /*background-color: rgb(255, 255, 255);
    background-image: url(/Pattern-Randomized.svg);*/
  background-color: #f8f8f8;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%235a68b2' fill-opacity='0.06' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
  height: auto;
  color: black;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 2px;
  padding-bottom: 20px;
  padding-top: 20px;
  align-items: center;
  justify-content: center;
}

.about-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*background-image: url(/Pattern-Randomized.svg);*/
}

.about-cards {
  justify-content: center;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  /*background-color: #5A68B2;*/
}

.about h2 {
  text-align: center;
  justify-items: start;
}

.about p {
  margin: 10px;
}

.svgRec {
  position: absolute;
  height: 300px;
  width: 400px;
  top: 115%;
  background: url("./assets/Rectangle.svg") no-repeat;
}

.carousel-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 100%;
}

.carousel .carousel-item,
.carousel-item img {
  height: 350px;
  width: 600px;
}

#navMenu {
  display: flex;
  color: black !important;
  text-decoration: none !important;
  list-style-type: none;
  width: 100%;
  justify-content: center;
  padding-left: 0px;
}

#navMenu li {
  display: inline-block;
  list-style-type: none;
  width: auto;
  color: #202646;
}

#navMenu li a {
  color: #202646;
}

#navMenu li.active {
  border-bottom: 2px solid #f77f00;
}

.menu {
  padding-top: 20px;
  padding-bottom: 20px;
}

.menuItemImg img {
  height: 120px;
  width: 120px;
}

.map-section {
  margin-top: 15px;
  height: 50vh;
  box-sizing: border-box !important;
  width: 100%;
}

.map-section .row {
  height: 100%;
  width: 100%;
}

.map-wrap {
  height: 100%;
  width: 100%;
}

.mapouter {
  position: relative;
  text-align: right;
  height: 100%;
  width: 100%;
}

.gmap_canvas {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.location-row {
  width: 100%;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.directions {
  box-sizing: border-box !important;
}

footer {
  background-color: #202646;
  color: white;
}

.foot-row .col-md-4 {
  margin-top: 10px;
  text-align: center;
}

.footer-titles {
  color: #f77f00 !important;
  font-size: 20px;
}

.social-icons {
  display: flex;
  flex-direction: column;
}

.fab {
  color: white;
  font-size: 25px;
  padding-top: 15px;
}

.fab:hover {
  color: #f77f00;
}

.contact-foot p {
  font-size: 16px;
}

.times div {
  margin: 5px;
  font-size: 16px !important;
}
.coolkid {
  background: #f77f00;
  color: white;
  font-weight: bold;
  padding: 4px 8px;
  font-size: 13px;
  border-radius: 4px;
  display: none;
}

.favorite {
  background: #f77f00;
  color: white;
  font-weight: bold;
  padding: 4px 8px;
  font-size: 13px;
  border-radius: 4px;
  display: block;
}

.coolkid[data-show] {
  display: block;
}

.arrow,
.arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  z-index: -1;
}

.arrow::before {
  content: "";
  transform: rotate(45deg);
  background: #f77f00;
}

.coolkid[data-popper-placement^="top"] > .arrow {
  bottom: -4px;
}

.coolkid[data-popper-placement^="bottom"] > .arrow {
  top: -4px;
}

.coolkid[data-popper-placement^="left"] > .arrow {
  right: -4px;
}

.coolkid[data-popper-placement^="right"] > .arrow {
  left: -4px;
}

.favorite[data-popper-placement^="top"] > .arrow {
  bottom: -4px;
}

.favorite[data-popper-placement^="bottom"] > .arrow {
  top: -4px;
}

.favorite[data-popper-placement^="left"] > .arrow {
  right: -4px;
}

.favorite[data-popper-placement^="right"] > .arrow {
  left: -4px;
}

@media (max-width: 767px) {
  body {
    background: whitesmoke;
  }

  .navbar {
    background: rgb(38, 39, 51);
  }

  .nav-link {
    color: whitesmoke !important;
  }

  .main-content {
    height: 100%;
  }

  .main-content .row {
    height: 100%;
  }

  .land-col {
    justify-content: center;
    align-content: center;
    height: 100%;
  }

  .land-col p {
    line-height: 1.5em;
    width: 80%;
  }

  .about-content {
    height: auto;
  }

  .carousel .carousel-item,
  .carousel-item img {
    height: 280px;
    width: 500px;
  }

  .order-first {
    margin-top: 0px;
    padding-top: 0px;
  }

  .about-col {
    justify-content: start;
  }

  .about {
    height: 90%;
    justify-content: start;
  }

  .carousel-wrap {
    justify-content: start;
  }

  #navMenu li {
    display: inline-block;
    list-style-type: none;
    width: auto;
    color: #202646;
  }

  #navMenu li a {
    color: #202646 !important;
  }

  .menuItemImg img {
    height: 100px;
    width: 100px;
  }

  #navMenu li.active {
    border-bottom: 2px solid #f77f00;
  }

  #menuItemsGrid {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 480px) {
  html {
    font-size: 13px;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 15px;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 16px;
  }
}
